body{
    font-family: "Courier New", Courier, monospace;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
        color: #9ACD32;
}
h4 {
    font-family: Arial, Helvetica, sans-serif;
        color: #EE82EE;
}
.saturday_definition {
    text-align: justify;
    font-family: Arial;
}
